@import url(fonts/fonts.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
body {
    background-color: black;
    color: white;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'PTSans';
}

/***    Container   ***/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px; 
}

/***    Header  ***/
.header {
    position: fixed;
    width: 100%;
    padding-top: 14px;
    background-color: black;
    z-index: 100;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #969696;
}
.header__inner-list {
    display: flex;
    justify-content: space-between;
}
.header__phon {
    position: relative;
    color: #969696;
    text-decoration: none;
}
.header__phon::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -29px;
    width: 20px;
    height: 20px;
    background: url(img/phone.svg) no-repeat;
}
.header__inner-item span{
    border-left: 2px solid #969696;
    padding-left: 15px;
    margin-left: 15px;
}
.header__inner__sign-in {
    position: relative;
    color:#969696;
    font-size: 12px;
    font-weight: 400;
    margin-right: 20px;
}
.header__inner__sign-in::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -21px;
    width: 15px;
    height: 16px;
    background: url(img/log-in.svg) no-repeat;
}
.header__inner-logo {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'PostNoBillsJaffna';
    font-weight: bold;
    font-size: 36px;
}
.header__inner-nav__item {
    padding: 30px 20px;
    color:#969696;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
.header__inner-nav__item:hover {
    color: white;
    background-color: #1F1F1F;
    border-radius: 5px;
    transition: 0.3s linear;
}

/***    Main    ***/
.main-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.main-screen__bg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.main__inner {
    flex: 0 0 35%;
    padding-top: 12px;
    text-transform: uppercase;
    text-align: center;
}
.main__title-wrap {
    max-width: 320px;
    margin: 0 auto 80px;
    border: solid 2px white;
    padding: 95px 65px;
}
.main__title {
    font-family: 'PostNoBillsJaffna';
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    border-bottom: 1px solid white;
}
.main__sub-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}
.main__about {
    font-size: 16px;
    font-weight: 400px;
}

/***    Colection   ***/
.section-title {
    position: relative;
    font-family: 'PlayfairDisplay';
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
}
.section-title::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: -15px;
    /* left: 0;
    right: 0; */
    background-color: white;
}
.section_btn {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid white;
    opacity: 0.7;
}
.section_btn:hover {
    opacity: 1;
    transition: 0.1s linear;
}
.section-about {
    font-size: 14px;
    font-weight: 400;
    margin: 50px 0;
}

.colection__inner {
    display: flex;
    justify-content: space-between ;
    height: 100%;
}
.colection__inner__about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    row-gap: 30px;
}
colection__inner__about__wrapper-card {
    flex: 1 0 33.33%;
    margin: 30px;
}
.card__foto {
    background-color: #191B1C;
    padding: 50px 20px;
}
.colection__inner__about {
    flex: 0 0 60%;
    overflow: hidden;
    padding: 80px;
    text-align: center;
}
.colection__inner__photo {
    flex: 0 0 40%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 100px;
}
.colection__inner__photo-bg {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/***        New     ***/
.new, .brends {
    text-align: center;
    margin: 100px 0;
}
.new-title {
    margin-bottom: 100px;
}
.new__wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 30px;
}

/***    Brend   ***/
.brends__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.brends__inner__card {
    flex: 0 0 25%;
    margin: 30px;
}












