@import url(fonts/fonts.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
body {
    background-color: black;
    color: white;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'PTSans';
}

/***    Container   ***/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px; 
}

/***    Header  ***/
.header {
    width: 100%;
    padding-top: 14px;
    background-color: black;
}
.header__burger {
    display: none;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #969696;
}
.header__inner-list {
    display: flex;
    justify-content: space-between;
}
.header__phon {
    position: relative;
    color: #969696;
    text-decoration: none;
}
.header__phon::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -29px;
    width: 20px;
    height: 20px;
    background: url(img/phone.svg) no-repeat;
}
.header__inner-item span{
    border-left: 2px solid #969696;
    padding-left: 15px;
    margin-left: 15px;
}
.header__inner__sign-in {
    position: relative;
    color:#969696;
    font-size: 12px;
    font-weight: 400;
    margin-right: 20px;
}
.header__inner__sign-in::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -21px;
    width: 15px;
    height: 16px;
    background: url(img/log-in.svg) no-repeat;
}
.header__inner-logo {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'PostNoBillsJaffna';
    font-weight: bold;
    font-size: 36px;
}
.header__inner-nav__item {
    padding: 30px 20px;
    color:#969696;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
.header__inner-nav__item:hover {
    color: white;
    background-color: #1F1F1F;
    border-radius: 5px;
    transition: 0.3s linear;
}

/***    Main    ***/
.main-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.main-screen__bg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.main__inner {
    position: absolute;
    top: 0;
    flex: 0 0 50%;
    text-transform: uppercase;
    text-align: center;
    padding: 0 30px
}
.main__title-wrap {
    max-width: calc(250px + (320 - 250) * ((100vw - 320px) / (1200 - 320)));
    margin: calc(20px + (80 - 20) * ((100vw - 320px) / (1200 - 320))) auto;
    border: solid 2px white;
    padding: calc(50px + (95 - 50) * ((100vw - 320px) / (1200 - 320))) calc(50px + (65 - 50) * ((100vw - 320px) / (1200 - 320)));
 
}
.main__title {
    position: relative;
    font-family: 'PostNoBillsJaffna';
    font-size: calc(42px + (64 - 42) * ((100vw - 320px) / (1200 - 320)));
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 30px;
}
.main__title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.main__sub-title {
    font-weight: 400;
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1200 - 320)));
    line-height: 28px;
}
.main__about {
    font-size: 16px;
    font-weight: 400px;
}

/***    Colection   ***/
.section-title {
    position: relative;
    font-family: 'PlayfairDisplay';
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
}
.section-title::after {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: white;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.section_btn {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid white;
    opacity: 0.7;
}
.section_btn:hover {
    opacity: 1;
    transition: 0.1s linear;
}
.section-about {
    font-size: 14px;
    font-weight: 400;
    margin: 50px 0;
}

.colection__inner {
    display: flex;
    justify-content: space-between ;
    height: 100%;
}
.colection__inner__about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 30px;
}
colection__inner__about__wrapper-card {
    flex: 1 0 33.33%;
    margin: 30px;
}
.card__foto {
    background-color: #191B1C;
    padding: 50px 20px;
}
.colection__inner__about {
    flex: 0 0 60%;
    overflow: hidden;
    padding: 80px;
    text-align: center;
}
.colection__inner__photo {
    flex: 0 0 40%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 100px;
}
.colection__inner__photo-bg {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/***    New     ***/
.new, .brends {
    text-align: center;
    margin: 100px 0;
}
.new-title {
    margin-bottom: 100px;
}
.new__wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    row-gap: 30px;
}

/***    Brend   ***/
.brends__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.brends__inner__card {
    flex: 0 0 25%;
    margin: 30px;
}

/***    Footer  ***/
.footer-top{
    position: relative;
    overflow: hidden;
    padding: 80px 0;
}
.footer__bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-top__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-top__column {
    flex: 0 0 25%;
    margin: 10px 20px;
}
.footer-top__title {
    font-family: 'PlayfairDisplay';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.footer-top__article {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 37px;
}
.footer-top__list {
    display: flex;
    flex-wrap: wrap;
}
.footer-top__link {
    color: #D0D0D0;
    padding: 10px 20px;
    margin: 5px 10px;
    background-color: black; 
    text-decoration: none;
}
.footer-top__form__email {
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin-bottom: 10px;
    color: gold;
    max-width: 150px;
}
.footer-top__form__email::placeholder {
    color: gold;
}
.footer-top__form__btn {
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;

}
.footer-bottom {
    padding: 17px 0;
}
.footer-bottom__inner {
    display: flex;
    justify-content: space-between;
}
.footer-bottom__copyright {
    color: #D0D0D0;
}
.footer-bottom__made {
    text-decoration: underline;
}
.footer-bottom__made:hover {
    text-decoration: none;
}
.footer-bottom__made a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1100px){
    .main__inner {
        flex: 0 0 80%;
        padding: 0 15px;
    }
    .colection__inner__photo {
        display: none;
    }
    .colection__inner {
        justify-content: center;
    }
    .colection__inner__about {
        flex: 1 0 100%;
    }
}
@media (max-width: 855px) {
    .footer-top__inner {
        grid-template-columns: 1fr;
    }
    .footer-top {
        padding: calc(15px + (80 - 15) * ((100vw - 320px) / (1200 - 320)));
    }
}
@media (max-width: 700px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        padding: 15px 0;
    }
    .header__inner-logo {
        margin-left: 20px;
    }
    .header__inner {
        display: none;
    }
    .header__inner-list {
        justify-content: center;
        flex-wrap: wrap;
    }
    .header__inner-nav__item {
        color: white;
    }
    .header__inner__sign-in {
        text-align: center;
    }
    .header__inner.burger__menu {
        display: block;
        position: absolute;
        top: -100%;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        margin-right: 25px;
        margin-left: auto;
        z-index: 5;
    }
    .header__burger span {
        top: 14px;
    }
    .header__burger span,
    .header__burger::after,
    .header__burger::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        transition: linear 0.2s;
    }
    .header__burger::after {
        top: 0;
    }
    .header__burger::before {
        bottom: 0;
    }
    .header__burger.header__burger__btn--active::after{
        transform: rotate(45deg);
        top: 15px;
    }
    .header__burger.header__burger__btn--active::before {
        transform: rotate(-45deg);
        top: 15px;
    }
    .header__burger.header__burger__btn--active span {
        transform: scale(0);
    }
    .header__inner.burger__menu.header__burger__btn--active {
        background-color: gray;
        width: 100%;
        top: 0;
        z-index: 3;
        transition: linear 0.3s;
        overflow: auto;
    }

}   
@media (max-width: 500px) {
    .section-title {
        font-size: 24px;
    }
}










