@font-face {
	font-family: 'PlayfairDisplay';
	src: url('PlayfairDisplay-Regular.eot');
	src: local('☺'), url('PlayfairDisplay-Regular.woff') format('woff'), url('PlayfairDisplay-Regular.ttf') format('truetype'), url('PlayfairDisplay-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PostNoBillsJaffna';
	src: url('PostNoBillsJaffna-Bold.eot');
	src: local('☺'), url('PostNoBillsJaffna-Bold.woff') format('woff'), url('PostNoBillsJaffna-Bold.ttf') format('truetype'), url('PostNoBillsJaffna-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('PTSans-Bold.eot');
	src: local('☺'), url('PTSans-Bold.woff') format('woff'), url('PTSans-Bold.ttf') format('truetype'), url('PTSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('PTSans-Regular.eot');
	src: local('☺'), url('PTSans-Regular.woff') format('woff'), url('PTSans-Regular.ttf') format('truetype'), url('PTSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}






